# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
Desktop.ini

# IDEs & AI configs
.idea/
.vscode/
.claude/

# Environment files
.env
.env.local
.env*.local

# Build artifacts
*.apk
*.aab
*.ipa

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

